{% extends 'base.html' %}
{% block title %}ABOUT US
{% endblock title %}
{% block css %}
{% endblock css %}

{% block body %}
<br>
<br>
     <h3 style="text-align: center;">About Us</h3>
<br>


     <h5 style="text-align: center;">We are a bunch of aspiring coders from COEP
        This is a Product Reviewing site for our college project</h5>
<br>
<br>

        <br>
<br>

     <div class="card-deck">
        <div class="card">
     
          <div class="card-body">
            <img class="card-img-top" src="static/images/nirmik.jpg"  width="400" height="400" alt="Card image cap">
            <h5 class="card-title">Nirmik Wankhade</h5>
            <p class="card-text">Third Year B.Tech Computer Engineering</p>
          </div>
        </div>
        <div class="card">
          
          <div class="card-body">
            <img class="card-img-top" src="static/images/sarah.png" width="400" height="400" alt="Card image cap">
            <h5 class="card-title">Sarah Hussain</h5>
            <p class="card-text">Third Year B.Tech Computer Engineering</p>
  
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <img class="card-img-top" src="static/images/dewa.jpeg"  width="400" height="400" alt="Card image cap">
            <h5 class="card-title">Dewashish Wankhade</h5>
            <p class="card-text">Third Year B.Tech Computer Engineering</p>
          </div>
        </div>
      </div>
{% endblock body %}