{% extends 'base.html' %}
{% block title %}Profile
{% endblock title %}
{% block css %}


<!-- Custom fonts for this template -->


{% endblock css %}
{% block body %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{url_for('static',filename='images/post-bg.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{ post.title }}</h1>
            <h2 class="subheading">{{post.subtitle}}</h2>
            <span class="meta">Posted by
              {{post.author}}
              on {{post.date_posted.strftime('%B %d %Y')}} </span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          {{post.content|safe}}
        </div>
      </div>
    </div>
  </article>


   <!-- Custom scripts for this template -->
   
   <script src="{{ url_for('static',filename='js/clean-blog.min.js')}}"></script>



{% endblock body %}
